<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Shop Homepage - Start Bootstrap Template</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="/images/garbage-truck.png">
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="/css/style2.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<nav th:insert="~{fragments::navbar}"></nav>

<div class="list-group w-100 faq">
  <a href="#shortExampleAnswer1collapse" data-mdb-toggle="collapse" aria-expanded="false"
     aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Hur får jag ut ett underlag?</h5>
    </div>
    <small><u>Learn more</u></small>
    <!--&lt;!&ndash; Collapsed content &ndash;&gt;-->
    <div class="collapse mt-3" id="shortExampleAnswer1collapse">
      <p>När annonsen är bekräftad och betald och du är inloggad på ditt SHI-MU-GO-konto kan du enkelt själv hämta underlag för dina annonser eller hämtningar genom din annons:
        Öppna appen och tryck på "Mina Annonser" längst ner i menyn
        Tryck på "Slutförda" och välj annons
        Gå längst ner i annonsen och tryck på "Hämta kvitto"
        Vi döpte det till "Hämta Kvitto" i appen för att förenkla för våra användare.</p>
    </div>
  </a>
  <a href="#shortExampleAnswer2collapse" data-mdb-toggle="collapse" aria-expanded="false"
     aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Kan man lägga upp flera annons ?</h5>
    </div>
    <small class="text-muted"><u>Learn more</u></small>
    <!--&lt;!&ndash; Collapsed content &ndash;&gt;-->
    <div class="collapse mt-3" id="shortExampleAnswer2collapse">
      <P>Ja, det kan man.</P>
    </div>
  </a>
  <a href="#shortExampleAnswer3collapse" data-mdb-toggle="collapse" aria-expanded="false"
     aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Jag får inget svar ?</h5>
    </div>
    <small class="text-muted"><u>Learn more</u></small>
    <!--&lt;!&ndash; Collapsed content &ndash;&gt;-->
    <div class="collapse mt-3" id="shortExampleAnswer3collapse">
      Oftast betyder det att den andra användaren inte har hunnit se ditt försök till kontakt. Exempel: En annonsör kanske sitter i ett möte, hämtaren kanske kör bil eller utför en annan hämtning, eller så kanske det är väldigt tidigt eller sent på kvällen där den andra personen sover. Det finns många anledningar, ha tålamod!
      I värsta fall kan du som annonsör avbryta när tiden gått ut, eller meddela att personen inte behöver komma och skapa en ny annons om det är bråttom.
    </div>
  </a>

  <a href="#shortExampleAnswer1collapse" data-mdb-toggle="collapse" aria-expanded="false"
     aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Hjälparen dök inte upp ?</h5>a
    </div>
    <small><u>Learn more</u></small>
    <!--&lt;!&ndash; Collapsed content &ndash;&gt;-->
    <div class="collapse mt-3" id="shortExampleAnswer4collapse">
      <p>Om hjälparen inte dyker upp kan du försöka kontakta dem genom att använda menyn i din annons. Annars kan du alltid avbryta hämtningen och välja en ny hjälpare. Du kan bara avbryta hämtningen när tiden för hämtningen har gått ut.
        Om din annons har markerats som "Slutförd" utan att vara helt klar, börja med att kontakta hjälparen för att se om det fanns några missförstånd. Om detta inte löser problemet och du har fler frågor, skicka ett mail till support@shitmustgo.com så ska vi försöka hjälpa dig så snabbt vi kan.</p>
    </div>
  </a>

  <a href="#shortExampleAnswer1collapse" data-mdb-toggle="collapse" aria-expanded="false"
     aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"> Inga Förfrågningar ?</h5>a
    </div>
    <small><u>Learn more</u></small>
    <!--&lt;!&ndash; Collapsed content &ndash;&gt;-->
    <div class="collapse mt-3" id="shortExampleAnswer5collapse">
      <p> Runt Stockholm får man oftast flertal till väldigt många förslag på hämtning av det du annonserat ut inom bara någon minut. Får du inte någon förfrågan om hjälp så har du förmodligen satt en för låg betalning.
        Prova i första hand att höja betalningen och se om det dyker upp några förslag!
        (Du betalar bara när du fått hjälp så det är värt att prova!)</p>
    </div>
  </a>
<a href="#shortExampleAnswer1collapse" data-mdb-toggle="collapse" aria-expanded="false"
     aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"> Hur mycket kan du tjäna?</h5>a
    </div>
    <small><u>Learn more</u></small>
    <!--&lt;!&ndash; Collapsed content &ndash;&gt;-->
    <div class="collapse mt-3" id="shortExampleAnswer6collapse">
      <p>"Sharing Economy Allowance" anger att så länge en individ tjänar mindre än 10000 KR på handel, ska ingen inkomstskatt betalas. Observera att andra handelsaktiviteter, såsom inkomster från försäljning på eBay, räknas till samma ersättning. Det är varje enskild användares ansvar att se till att hon följer reglerna. </p>
    </div>
  </a>
  <a href="#shortExampleAnswer1collapse" data-mdb-toggle="collapse" aria-expanded="false"
     aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Behöver jag betala seperat för återvinning?</h5>a
    </div>
    <small><u>Learn more</u></small>
    <!--&lt;!&ndash; Collapsed content &ndash;&gt;-->
    <div class="collapse mt-3" id="shortExampleAnswer7collapse">
      <p>Det kan variera väldigt mycket på olika platser och återvinningscentraler. På vissa återvinningscentraler kan du t.ex behöva betala eller ha ett ÅVC-kort för att slänga saker. Vi rekommenderar att du själv kontaktar din återvinningscentral eller besöker deras hemsida för mer information.
        Slänger man saker på en återvinningscentral i egenskap av ett företag så brukar det utgå en avgift. Hos oss så är det privatpersoner som hjälper varandra, den som hämtar något via appen övertar äganderätten till det som hämtas vid själva tillfället för hämtningen. Det är därför det är dina egna saker som du slänger.

        För några av de största aktörerna som driver många återvinningscentraler så utgår de t.ex ifrån nedan för att besluta om du är ett företag eller inte.  </p>
    </div>
  </a>
</div>

  <div class="intercom-reaction-picker -mb-4 -ml-4 -mr-4 mt-8 sm:-mb-2 sm:-ml-1 sm:-mr-1" dir="ltr"><div class="intercom-reaction-prompt">Fick du svar på din fråga?</div>
    <button class="intercom-reaction" aria-label="Disappointed Reaction" tabindex="0" data-reaction-text="disappointed" aria-pressed="false">

      <span title="Disappointed">😞</span></button><button class="intercom-reaction" aria-label="Neutral Reaction" tabindex="0" data-reaction-text="neutral" aria-pressed="false">
      <span title="Neutral">😐</span></button><button class="intercom-reaction" aria-label="Smiley Reaction" tabindex="0" data-reaction-text="smiley" aria-pressed="false">
      <span title="Smiley">😃</span></button>
  </div>

  <footer th:fragment="footer" class="py-1 bg-dark mt-auto fixed-bottom">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; ShitMustGo 2023</p></div>
  </footer>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>
  </body>
</html>
