<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Shi Mu Go</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/garbage-truck.png">
</head>
<body>
 <!-- Nav bar -->
<h1>ShitMustGo</h1>
<div></div>

<ul>
    <li> <a href="/">Home</a> </li>
    <li> <a href="/login">Login/Signup</a> </li>
    <li> <a href="/contact">Contact</a> </li>
    <li> <a href="/customerservice">Customer Service</a></li>
</ul>
 <a href="/account">Account</a>

 <input type="submit" value="Logout">

    <!-- Oklart vad detta ska användas till nån dropdown function-->
    <!--Class finns ej än-->
<div class="dropdown">
    <!--    Class finns ej än-->
    <button class="dropbtn">Dropdown</button>
    <!--    Class finns ej än-->
    <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
    </div>
</div>

    <!-- Show list of tasks -->
    Recent tasks
    <div>

        <tr th:each="task : ${task}">
            <th><a th:href="'/task/' + ${task.id}" th:text="${task.title}"></a></th>
            <th th:text="${task.address}"></th>
            <th th:text="${task.price}"></th>
            <a th:href="'/task/' + ${task.id}"><img th:class="img" th:src="${task.image}" alt=""></a>
        </tr>

    </div>

</body>
</html>