<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shi mu Go Sign Up</title>
    <link rel="icon" type="image/x-icon" href="/images/garbage-truck.png">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/garbage-truck.png">
</head>
<body>
<nav><h1><a href="/">ShitMustGo</a></h1>

    <ul class="navbar">
        <li> <a href="/">Home</a> </li>
        <li> <a href="/login">Login/Signup</a> </li>
        <li> <a href="/contact">Contact</a> </li>
        <li> <a href="/customerservice">Customer Service</a></li>
        <li><a href="/account">Account</a></li>
    </ul>
</nav>
      <!-- Registration Form-->
<form action="/register" method="post">
  firstname  <input type="text" name="firstname">
  lastname<input type="text" name="lastname">
  email<input type="email" name="email">
  username<input type="text" name="username">
  password<input type="password" name="password">
  password 2 <input type="password" name="passwordControll">
  phonenumber<input type="text" name="phonenumber">
  address<input type="text" name="address">
  cardnumber<input type="text" name="cardnumber">
  <input type="submit">
</form>

</body>
</html>