<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shi mu Go Sign Up</title>
    <link rel="icon" type="image/x-icon" href="garbage-truck.png">
</head>
<body>
      <!-- Registration Form-->
<form action="/register" method="post">
  firstname  <input type="text" name="firstname">
  lastname<input type="text" name="lastname">
  email<input type="email" name="email">
  username<input type="text" name="username">
  password<input type="password" name="password">
  password 2 <input type="password" name="passwordControll">
  phonenumber<input type="text" name="phonenumber">
  address<input type="text" name="address">
  cardnumber<input type="text" name="cardnumber">
  <input type="submit">
</form>

</body>
</html>