<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>ShitMustGo Sign Up</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/images/garbage-truck.png">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/style2.css" rel="stylesheet" />
</head>
<title>Shi mu Go Sign Up</title>
<body>
<!-- Navigation-->
<nav th:replace="~{fragments::navbar}"></nav>

<div th:if="${FailedSignup}" class="alert alert-danger" role="alert" text-center>
    [[${FailedSignup}]]
</div>
<form action="/register" method="post" th:object="${account}">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Förnamn" th:field="*{firstName}">
            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Efternamn" th:field="*{lastName}">
            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
        </div>
        <div class="col">
            <input type="email" class="form-control" placeholder="Email" th:field="*{email}">
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Användarnamn" th:field="*{username}">
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>

        </div>
        <div class="col">
            <input type="password" class="form-control" placeholder="Lösenord" th:field="*{password}">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        </div>
        <div class="col">
            <input type="password" class="form-control" placeholder="Upprepa Lösenord" name="passwordControll">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Telefonnummer" th:field="*{phoneNumber}">
            <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Adress" th:field="*{address}">
            <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Kortnummer" th:field="*{cardnumber}">
            <p th:if="${#fields.hasErrors('cardnumber')}" th:errors="*{cardnumber}"></p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary">Skapa konto</button>
        </div>
    </div>
</form>
<footer th:insert="~{fragments::footer}"></footer>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>